.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(40, 83, 97, 0.692);
  color: white;
}

nav li {
  list-style: none;
  color: white;
  text-decoration-color: white;
}
